
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-image: url("../images/qbkls/qbkls/qbkls.png")
}
.top {
    background-color: #ffffff;
    overflow: hidden;
    border: #ffffff;
    border-bottom: #cccccc;
    padding: 20px;
    border-style: solid;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    margin-top: -10px;
    margin-left: -10px;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
header {
    background-color: #4aaaa5;
    font-size: 28px;
    width: 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    left: 180px;
    color: #ffffff;
}
.moveleftplease {
    margin-right: 190px;
}
li a {
    float: right;
    padding: 10px;
}
a {
    color: rgb(129, 87, 87);
    text-decoration: none;
}
a:hover {
    color: purple;
    background-color: #cccccc;
}
a:active {
    background-color: #4aaaa5;
}
.port {
    border-left-style: solid;
    border-right-style: solid;
    border-color: #cccccc;
}
.mid {
    padding: 20px;
    background-color: #ffffff;
    border-style: solid;
    border-color: #cccccc;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
    width: 960px;
    align-self: center;
    margin: auto;
}
img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
}
p {
    line-height: 25px;
}
h1 {
    color: #4aaaa5;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    padding-bottom: 20px;;
}
form {
    clear: both;
}
footer {
    clear: both;
    text-align: center;
    padding: 20px 0px 0px 0px;
    background-color: #666666;
    color: #ffffff;
    font-size: 10px;
    border-top-style: solid;
    border-color: #4aaaa5;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    overflow: auto;
}
.name , .email , .message {
    margin-top: 10px;
    margin-bottom: 10px;
}
input {
    width: 100%;
}
textarea {
    width: 100%;
    height: 100px;
}
button {
    background-color: #4aaaa5;
    padding: 5px 15px 5px 15px;
    border-style: none;
    color: #ffffff;
}
